<%- include("partials/header") %>
<h1>STRONA GŁÓWNA</h1>
<p>
    <%= content %>
</p>

<% newPosts.forEach((post)=>{ %>
<div class="articles">
    <h1><%= post.title %></h1>
    <p><%= post.body.substring(0,100) + "..." %>
        <a href="/posts/<%=post.title%>">Czytaj Więcej</a>
    </p>
</div>
<% }); %>

<%- include("partials/footer") %>